html, body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	margin  : 0;
	padding : 0;
	height  : 100%;
	width   : 100%;
}

.ui-page {
    -webkit-backface-visibility: hidden !important;
}

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
    overflow: visible;
}

#idWelcomePage {
	overflow : hidden;
	margin  : 0;
	padding : 0;
}

#idWelcomePageContent {
	margin  : 0;
	padding : 0;
}

#idLogo {
	display:block;
	margin:auto;
	text-align: center;
}

/*
	Comments
*/
#idLanguageListContainer {
	overflow: scroll;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 2% 2%;
	position: absolute;
	top: 50%;
	bottom: 0%;
	left: 2%;
	right: 2%;
	background  : rgba(84,84,84,255);
}

#idLanguagePageListContainer {
	overflow: scroll;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 2% 2%;
	position: absolute;
	left: 2%;
	right: 2%;
}

#idLanguageList {
	
}

#idMapPage {
	margin		: 0;
	padding		: 0;
	width		: 100%;
	height		: 70%;
}

#idMapPageContent {
	margin   : 0;
	padding  : 0;
	width    : 100%;
	height   : 100%;
}

#idAreaOfInterestPage{
	margin		: 0;
	padding		: 0;
	width		: 100%;
	height		: 70%;	
}

#idAreaOfInterestContent{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#map {
	width    : 100%;
	height   : 100%;
	padding	 : 0;
}

.PageFooter {
	width: 100%;
}

.olControlAttribution {
	position      : absolute;
	font-size     : 10px;
	bottom        : 0 !important;
	right         : 0 !important;
	background    : rgba(0,0,0,0.1);
	font-family   : Arial;
	padding       : 2px 4px;
	border-radius : 5px 0 0 0;
}

#title, #tags, #shortdesc {
	display: none;
}

#editorTab {
	position:absolute;
	z-index:1005;
	left:3px;
	bottom:64px;
	width:32px;
	height:32px;
	background-color:rgba(0, 60, 136, 0.496094);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	opacity: 1.0;
}

#idEditorMenu {
	overflow: scroll;
	left: 100%;
	right: 0px;
	height   : 100%;
	top:0px;
	background-color:rgba(0, 60, 136, 0.496094);
}

#idWorkingOverlay {
	overflow: scroll;
	left: 100%;
	right: 0px;
	height: 100%;
	top:0px;
	left: 100%;
	background-color:rgba(60, 60, 60, 0.8);
}

#attributeTab {
	position:absolute;
	z-index:1005;
	left:3px;
	bottom:100px;
	width:32px;
	height:32px;
	background-color:rgba(136, 60, 0, 0.496094);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	display:none;
}

#idAttributeMenu {
	overflow: scroll;
	left: 100%;
	right: 0px;
	height: 100%;
	top:0px;
	left: 100%;
	background-color:rgba(136, 60, 0, 0.496094);
}

#attributeMenuContent {
	overflow: scroll;
	height: 80%;
}

#idLayerListContainer {
	margin: 10px;
}

.olControlZoom{
	left:0px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

#optionsPopup {
	position:absolute;
	z-index: 1005;
	left: 50%;
	margin-left: -45px;
	top: 15px;
	background-color:rgba(136, 60, 0, 0.496094);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	width:90px;
	height:32px;
	text-align: center;
}

.arbiter-map-tools{
	position:absolute;
	z-index:1005;
	left:3px;
	width:32px;
	height:32px;
	background-color:rgba(0, 60, 136, 0.496094);
}

.arbiter-map-tools-top{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.arbiter-map-tools-bottom{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.first-map-tool {
	top:80px;
}

.second-map-tool{
	top:113px;
}

.third-map-tool {
	top:146px;		
}

.fourth-map-tool {
	top:179px;		
}

#goToAreaOfInterest:active{
	background-image:-webkit-linear-gradient(top, #5393C5, #6FACD5);
}

#findMeButton:active {
	background-image:-webkit-linear-gradient(top, #5393C5, #6FACD5);
}

#deleteFeatureButton:active {
	background-image:-webkit-linear-gradient(top, #5393C5, #6FACD5);
}

.ui-icon-glyphish-trash2  { 
	border-radius: 0px !important;
	background:  url(images/glyphish/218-trash2.png) 50% 50% no-repeat !important;
	width: 20px !important;
	height: 20px !important;
}

#cacheTiles {
	position:absolute;
	z-index:1005;
	left:3px;
	bottom:46px;
	width:32px;
	height:32px;
	background-color:rgba(0, 60, 136, 0.496094);
	border-radius: 5px;
	display:none;	
}

#loadingIndicator { 
	border-radius: 0px !important; 
	background:  url(images/ajax-loader-indicator-big-t.gif) 50% 50% no-repeat !important;  
	background-size: 24px 24px;
	position: absolute;
	width: 24px !important; 
	height: 24px !important;
	background-color: transparent;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
	z-index: 1005;	
}

#syncUpdates {
	position:absolute;
	z-index:1005;
	left:3px;
	bottom:11px;
	width:32px;
	height:32px;
	background-color:rgba(136, 0, 0, 0.496094);
	border-radius: 5px;
}
#syncUpdates:active {
	background-image:-webkit-linear-gradient(top, #5393C5, #6FACD5);
}
.invalid-field{
	background-color: #700000 !important;
}

.ui-hide-label.ui-br, .no-field-separator {
    border-bottom-width: 0;
}
.ui-field-contain.ui-hide-label, .no-field-separator {
    margin: 1em 0;
    padding: 0;
}

.existingServer-top-left{
	border-top-left-radius:15px;
}

.existingServer-top-right{
	border-top-right-radius:15px;
}

.existingServer-bottom-left{
	border-bottom-left-radius:15px;
}

.existingServer-bottom-right{
	border-bottom-right-radius:15px;
}

.existingServer-contentWrapper{
	float: left;
	width: 100%;
}

.existingServer-contentColumn{
	margin-left:40px;
	border: 1px;
	height:40px;
	background-image:-webkit-linear-gradient(top, #3C3C3C, #111);
}

.existingServer-contentColumn:active{
	background-image:-webkit-linear-gradient(top, #5393C5, #6FACD5);
}

.existingServer-leftColumn{
	float:left;
	width:40px;
	margin-left: -100%;
	background-image:-webkit-linear-gradient(top, #3C3C3C, #111);
	height:100%;
	border: 1px;
	border-right: 1px solid rgba(255, 255, 255, .3); 
}

.existingServer-row{
	width:100%;
	height:40px;
	position:relative;
}
.existingServer-name{
	position:absolute;
	left:55px;
	top:10px;
	color:white !important;
}

.existingServer-checkbox-container{
	position:absolute;
	top:15px;
	left:-10px;
}

.project-top-left{
	border-top-left-radius:15px;
}

.project-top-right{
	border-top-right-radius:15px;
}

.project-bottom-left{
	border-bottom-left-radius:15px;
}

.project-bottom-right{
	border-bottom-right-radius:15px;
}

.project-contentWrapper{
	float: left;
	width: 100%;
}

.project-contentColumn{
	position: relative;
	margin-left:40px;
	border: 1px;
	height:40px;
	background-image:-webkit-linear-gradient(top, #3C3C3C, #111);
}

.project-leftColumn{
	float:left;
	width:40px;
	margin-left: -100%;
	background-image:-webkit-linear-gradient(top, #3C3C3C, #111);
	height:100%;
	border: 1px;
	/*border-right: 1px solid rgba(255, 255, 255, .3);*/ 
}

.project-row{
	width:100%;
	height:40px;
	position:relative;
}
.project-name{
	position:absolute;
	color:white !important;
	width:100%;
	height:40px;
}

.project-name:active{
	background-image:-webkit-linear-gradient(top, #5393C5, #6FACD5);
}

.project-checkbox-container{
	position:absolute;
	top:15px;
	left:-10px;
}

.project-checkbox{
	width:20px;
	height:20px;
	background-color:#980000 !important;
	margin-left:20px;
	margin-top:-3px;
	display:none;
}
.top-left{
	border-top-left-radius:15px;
}

.top-right{
	border-top-right-radius:15px;
}

.bottom-left{
	border-bottom-left-radius:15px;
}

.bottom-right{
	border-bottom-right-radius:15px;
}

.contentWrapper{
	float: left;
	width: 100%;
}

.contentColumn{
	position: relative;
	margin-left:40px;
	border: 1px;
	height:40px;
	background-image:-webkit-linear-gradient(top, #3C3C3C, #111);
}

.leftColumn{
	float:left;
	width:40px;
	margin-left: -100%;
	background-image:-webkit-linear-gradient(top, #3C3C3C, #111);
	height:100%;
	border: 1px;
	/*border-right: 1px solid rgba(255, 255, 255, .3);*/ 
}

.list-item{
	width:100%;
	height:40px;
	position:relative;
}
.list-item-name{
	position:absolute;
	color:white !important;
	width:100%;
	height:40px;
}

.active-color{
	background-image:-webkit-linear-gradient(top, #5393C5, #6FACD5);	
}
.list-item-name:active{
	background-image:-webkit-linear-gradient(top, #5393C5, #6FACD5);
}

.checkbox-container{
	position:absolute;
	top:15px;
	left:-10px;
}

.left-placeholder{
	width:20px;
	height:20px;
	margin-left:20px;
	margin-top:-3px;
}

.list-item-delete{
	display:none;
	background-color:#980000 !important;
}

.list-item-checkbox{
	position:absolute;
	top: -3px;
}

#idLayerSettingsAddLayer div{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#idAddServerButton div{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#idLayerSettingsList{
	margin-top: 15px;	
}

#idServersList{
	margin-top: 15px;
}