html, body {
	margin  : 0;
	padding : 0;
	height  : 100%;
	width   : 100%;
}

#idWelcomePage {
	margin  : 0;
	padding : 0;
}

#idWelcomePageContent {
	margin  : 0;
	padding : 0;
}

#idLogo {
	display:block;
	margin:auto;
	text-align: center;
}

/*
	Comments
*/
#idLanguageListContainer {
	overflow: scroll;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 2% 2%;
	position: absolute;
	top: 50%;
	bottom: 0%;
	left: 2%;
	right: 2%;
	background  : rgba(84,84,84,255);
}

#idLanguageList {
	
}

#idMapPage {
	margin		: 0;
	padding		: 0;
	width		: 100%;
	height		: 70%;
}

#idMapPageContent {
	margin   : 0;
	padding  : 0;
	width    : 100%;
	height   : 100%;
}

#map {
	width    : 100%;
	height   : 100%;
	padding	 : 0;
}

.PageFooter {
	width    : 100%;
}

.olControlAttribution {
	position      : absolute;
	font-size     : 10px;
	bottom        : 0 !important;
	right         : 0 !important;
	background    : rgba(0,0,0,0.1);
	font-family   : Arial;
	padding       : 2px 4px;
	border-radius : 5px 0 0 0;
}

#title, #tags, #shortdesc {
	display: none;
}

#pullFeatures{
	position:absolute;
	z-index:1005;
	right:8px;
	top:8px;
	width:40px;
	height:40px;
	background-color:blue;
	border-radius:4px 4px;
	opacity:0.4;
}