html, body {
	margin  : 0;
	padding : 0;
	height  : 100%;
	width   : 100%;
}

#idMapPage {
	margin		: 0;
	padding		: 0;
	width		: 100%;
	height		: 80%;
}

#idMapPageContent {
	margin   : 0;
	padding  : 0;
	width    : 100%;
	height   : 100%;
}

#map {
	width    : 100%;
	height   : 100%;
	padding	 : 0;
}

.PageFooter {
	width    : 100%;
}

.olControlAttribution {
	position      : absolute;
	font-size     : 10px;
	bottom        : 0 !important;
	right         : 0 !important;
	background    : rgba(0,0,0,0.1);
	font-family   : Arial;
	padding       : 2px 4px;
	border-radius : 5px 0 0 0;
}

#title, #tags, #shortdesc {
	display: none;
}